<template>
  <v-container grid-list-md text-xs-center>
     <v-layout row wrap>
       <v-flex xs12 sm6 md4 v-for="u in users" :key=u.name>
           <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-card-subtitle class="pb-0">
      {{ u.name }}
    </v-card-subtitle>

    <v-card-text class="text--primary">
      {{ u.age }}
    </v-card-text>

    <v-card-actions>
      <v-btn
        color="orange"
        text
        @click="putDialog(u._id)"
      >
        수정
      </v-btn>
       <v-btn
        color="error"
        text
        @click="delUser(u._id)"
      >
        삭제
      </v-btn>
    </v-card-actions>
  </v-card>
       </v-flex>
     </v-layout>
    <v-layout row wrap>
     <v-flex xs12 sm3>
          <v-btn
            fab
            color="cyan accent-2"
            top
            left
            relative
            @click=mdUp
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-card-subtitle class="pb-0">
      get
    </v-card-subtitle>

    <v-card-text class="text--primary">
      <textarea v-model="getMd"></textarea>
    </v-card-text>

    <v-card-actions>
      <v-btn
        color="orange"
        text
        @click="getReq"
      >
        submit
      </v-btn>
    </v-card-actions>
  </v-card>
       <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-card-subtitle class="pb-0">
      post
    </v-card-subtitle>

    <v-card-text class="text--primary">
      <textarea v-model="postMd"></textarea>
    </v-card-text>

    <v-card-actions>
       <v-btn
        color="orange"
        text
        @click="postReq"
      >
        submit
      </v-btn>
    </v-card-actions>
  </v-card>
       <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-card-subtitle class="pb-0">
      put
    </v-card-subtitle>

    <v-card-text class="text--primary">
      <textarea v-model="putMd"></textarea>
    </v-card-text>

    <v-card-actions>
      <v-btn
        color="orange"
        text
        @click="putReq"
      >
        submit
      </v-btn>
    </v-card-actions>
  </v-card>
       <v-card
    class="mx-auto"
    max-width="400"
  >
    <v-card-subtitle class="pb-0">
      del
    </v-card-subtitle>

    <v-card-text class="text--primary">
      <textarea v-model="delMd"></textarea>
    </v-card-text>

    <v-card-actions>
       <v-btn
        color="orange"
        text
        @click="delReq"
      >
        submit
      </v-btn>
    </v-card-actions>
  </v-card>
     </v-flex>
    </v-layout>
     <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <v-card>
            <v-card-text>
              <v-text-field label="name" v-model="userName"></v-text-field>
               <v-select
                  :items="userAges"
                  label="Age"
                  v-model="userAge"
                ></v-select>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                text
                color="primary"
                @click="postUser"
              >
                등록
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="putUser"
              >
                수정
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
         <v-snackbar
      v-model="snackbar"
    >
      {{ sbMessage }}
        <v-btn
          color="pink"
          text
          @click="snackbar = false"
        >
          Close
        </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {

  data () {
    return {
      users: [],
      getMd: '',
      postMd: '',
      putMd: '',
      delMd: '',
      dialog: false,
      userAges: [],
      userAge: 0,
      userName: '',
      snackbar: false,
      sbMessage: '',
      putId: ''
    }
  },
  mounted () {
    for (let i = 10; i < 40; i++) this.userAges.push(i)
    this.getUsers()
  },
  methods: {
    getReq () {
      axios.get(`${this.$apiRootPath}user`, {
        user: 'getJH'
      })
        .then((r) => {
          this.getMd = JSON.stringify(r.data)
          console.log(r)
        })
        .catch((e) => {
          console.log(e.message)
        })
      console.log('sss')
    },
    postReq () {
      axios.post(`${this.$apiRootPath}user`, {
        name: 'jh',
        age: 11
      })
        .then((r) => {
          this.postMd = JSON.stringify(r.data)
          console.log(r)
        })
        .catch((e) => {
          console.log(e.message)
        })
    },
    putReq () {
      axios.put(`${this.$apiRootPath}user`, {
        user: 'putjh'
      })
        .then((r) => {
          this.putMd = JSON.stringify(r.data)
          console.log(r)
        })
        .catch((e) => {
          console.log(e.message)
        })
    },
    delReq () {
      axios.delete(`${this.$apiRootPath}user`, {
        user: 'deljh'
      })
        .then((r) => {
          this.delMd = JSON.stringify(r.data)
          console.log(r)
        })
        .catch((e) => {
          console.log(e.message)
        })
      console.log('sss')
    },
    mdUp () {
      console.log('md')
      this.userName = ''
      this.userAge = ''
      this.dialog = true
    },
    postUser () {
      console.log(this.userName, this.userAge)
      this.dialog = false
      axios.post(`${this.$apiRootPath}user`, {
        name: this.userName,
        age: this.userAge
      })
        .then((r) => {
          this.postMd = JSON.stringify(r.data)
          console.log(r)
          this.pop('등록완료')
          this.getUsers()
        })
        .catch((e) => {
          console.log(e.message)
        })
    },
    getUsers () {
      axios.get(`${this.$apiRootPath}user`, {
        user: 'getJH'
      })
        .then((r) => {
          this.users = r.data.users
          console.log(r)
        })
        .catch((e) => {
          console.log(e.message)
        })
    },
    putDialog (id) {
      this.userName = ''
      this.userAge = ''
      this.putId = id
      this.dialog = true
    },
    putUser (id) {
      this.dialog = false
      axios.put(`${this.$apiRootPath}user/${this.putId}`, {
        name: this.userName, age: this.userAge
      })
        .then((r) => {
          console.log(r)
          this.pop('수정완료')
          this.getUsers()
        })
        .catch((e) => {
          console.log(e.message)
        })
    },
    delUser (id) {
      axios.delete(`${this.$apiRootPath}user/${id}`, {
        user: 'deljh'
      })
        .then((r) => {
          console.log(r)
          this.pop('삭제완료')
          this.getUsers()
        })
        .catch((e) => {
          console.log(e.message)
        })
    },
    pop (msg) {
      this.snackbar = true
      this.sbMessage = msg
    }
  }
}

</script>
